@import '../../../../scss/modal.scss';
:host > img {
  margin-right: 0.5rem;
  height: 1.5rem;
}
:host > img:hover {
  cursor: pointer;
  filter: invert(25%) sepia(800%) saturate(2878%) hue-rotate(180deg);
}
:host div.kukai-modal {
  z-index: 150;
}
:host div.kukai-modal.top {
  z-index: 151;
}
:host div.kukai-modal div.x {
  z-index: 160;
}
:host span.error-msg {
  color: red;
  position: absolute;
  font-size: 0.875rem;
}
:host button {
  margin-top: 2rem;
  border-radius: 0.75rem;
  height: 3rem;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  -webkit-appearance: none !important;
  border-width: 0;
}
:host button:focus {
  outline: none;
}
:host button.purple {
  color: white;
  background: #5963FF;
  box-shadow: 0px 0px 1px rgba(89, 99, 255, 0.04), 0px 2px 6px rgba(89, 99, 255, 0.04), 0px 16px 24px rgba(89, 99, 255, 0.24);
  transition: margin-top 0.1s ease-in, margin-bottom 0.1s ease-in;
}
:host div.kukai-modal > div.km-content {
  margin: 7.5rem auto;
}
:host >div.kukai-modal > div.km-content > div.km-body > div.row-group > .full-width {
  width: 100%;
  margin-right: 0;
}