<app-header [settings]=true></app-header>
<div class="settings">
  <H3>Connect with dApps</H3>
  <div class="seperator"></div>
  <div class="handler">
    <div>
      <h4>Scan a QR code</h4>
      <p>Connect to dApps on <u>another device</u> by scanning a QR code.</p>
    </div>
    <div>
      <app-qr-scanner></app-qr-scanner>
    </div>
  </div>
  <H3>Peers</H3>
  <table *ngIf="beaconService.peers.length">
    <thead>
      <tr>
        <th>Name</th>
        <th>Relay server</th>
        <th><span (click)="beaconService.removePeers()">Remove&nbsp;all</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let peer of beaconService.peers; index as i">
        <td>{{ peer.name }}</td>
        <td>{{ peer.relayServer }}</td>
        <td (click)="beaconService.removePeer(i)"><img (click)="beaconService.removePeer(i)"
            src="../../../assets/img/cross.svg"></td>
      </tr>
    </tbody>
  </table>
  <H3>Permissions</H3>
  <table *ngIf="beaconService.permissions.length">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th><span (click)="beaconService.removePermissions()">Remove&nbsp;all</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let permission of beaconService.permissions; index as i"
        [class.inactive]="!accountAvailable(permission.address)">
        <td>{{ permission.appMetadata.name }}</td>
        <td>{{ formatAddress(permission.address) }}</td>
        <td><img (click)="beaconService.removePermission(i)" src="../../../assets/img/cross.svg"></td>
      </tr>
    </tbody>
  </table>
  <H3>Address book</H3>
  <div class="seperator"></div>
  <table *ngIf="addressBook">
    <!--<thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th><span></span></th>
      </tr>
    </thead>-->
    <tbody>
      <tr *ngFor="let contact of addressBook | keyvalue">
        <td>
          <ng-container *ngIf="contact.value.alias; else noAlias">
            <img style="height: 1rem; margin-right: 0.25rem" src="../../../assets/img/{{ contact.value.alias.kind }}-logo.svg">
            {{ contact.value.alias.value }} ({{ contact.value.name }})
          </ng-container>
          <ng-template #noAlias>
            <img style="height: 1rem; margin-right: 0.5rem" src="../../../assets/img/tezos-xtz-logo.svg">
            {{ contact.value.name }}
          </ng-template>
        </td>
        <td>
          {{ formatAddress(contact.value.address) }}
        </td>
        <td><img (click)="addressBookService.removeContact(contact.value.address)" src="../../../assets/img/cross.svg">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="seperator"></div>
  <div class="contact-entry">
    <div>
      <input type="text" class="text" placeholder="Name" [(ngModel)]="name">
      <select class="select-css" [(ngModel)]="torusVerifier">
        <option value="" selected>Tezos Address</option>
        <option *ngFor="let key of torusService.verifierMapKeys" value="{{key}}">
          {{ torusService.verifierMap[key].name }} Account</option>
      </select>
    </div>
    <div>
      <input type="text" class="text" placeholder="{{ placeholder() }}" [(ngModel)]="address">
    </div>
    <div>
      <img *ngIf="loading" src="../../../assets/img/feeLoader.gif" style="height: 1rem; margin-right: 1rem"><button
        (click)="addContact()">Submit</button>
    </div>
  </div>
</div>